<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">


       <http >
              <http-basic entry-point-ref="http403ForbiddenEntryPoint" />
           <csrf token-repository-ref="customCsrfTokenRepository" />
            <custom-filter after="CSRF_FILTER" ref="customCsrfHeaderFilter" />
              <intercept-url pattern="/resources/part/*" access="hasRole('ROLE_USER')"/>
              <intercept-url pattern="/resources/part/admin/*" access="hasRole('ROLE_ADMIN')"/>
              <intercept-url pattern="/rest/users/**" access="hasRole('ROLE_ADMIN')"/>

       </http>



       <authentication-manager>
              <authentication-provider user-service-ref="userService">
              </authentication-provider>
       </authentication-manager>
</beans:beans>